  @import "tailwindcss";

  @layer base {
    :root {
      --color-primary: #fffef7;
      --color-secondary: #121212;
      --color-third: #bebebe;
      --color-fourth: #007bff;
      --color-warning: #CA0B00;
      --font-primary: "Montserrat", sans-serif;
      --font-secondary: "Poppins", sans-serif;
      --hover-border: linear-gradient(90deg,
          #044596 0%,
          #60a5fa 50%,
          #044596 100%);

    }

    @theme {
      --color-primary: #fffef7;
      --color-secondary: #121212;
      --color-third: #bebebe;
      --breakpoint-3xl: 120rem;
      --color-fourth: #007bff;
       --color-warning: #CA0B00;
      --primary: "Montserrat", sans-serif;
      --secondary: "Poppins", sans-serif;

      --animate-spin-slow: spin 3s linear infinite;
    }
*{
  scrollbar-width: none;
}
    body {
      background-color: var(--color-secondary);
      color: var(--color-primary);
      font-family: var(--font-secondary);

    }

    h1,
    h2,
    h3,
    h4 {
      font-family: var(--font-primary);
    }
  }

  section {
    background: linear-gradient(90deg, #313131 0%, #1a1919 45%, #000000 100%);
       font-family: var(--font-primary);
  }



  /* ===== PRICING TOGGLE ===== */

.pricing-toggle {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.8em;
  height: 2em;
}

.pricing-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.pricing-toggle-slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: rgb(182, 182, 182);
  transition: 0.4s;
  border-radius: 10px;
}

.pricing-toggle-slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 8px;
  left: 0.3em;
  bottom: 0.3em;
  transform: rotate(270deg);
  background-color: white;
  transition: 0.4s cubic-bezier(.68,-0.55,.27,1.55);
}

/* ACTIVE */

.pricing-toggle input:checked + .pricing-toggle-slider {
  background-color: #007bff;
}

.pricing-toggle input:checked + .pricing-toggle-slider:before {
  transform: translateX(1.7em) rotate(360deg);
}